<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple Assets</title>
</head>
<body>
    <h1>반갑습니다. Simple Assets 페이지입니다.</h1>
    <button onclick="location.href='/assets'">키 생성</button>
    <button onclick="location.href='/assets/new'">키 조회</button>
</body>
</html>