<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple Assets - Set</title>
</head>
<body>
    <h1>키 생성 페이지</h1>
    <div>키 이름: <input id="key" type="text"></div>
    <div>키 값: <input id="value" type="text"></div>
    <button id="query">생성</button>

    <script></script>
</body>
</html>